{% extends "::base.html.twig" %}

{% block body %}
    <h1>Existing users</h1>
    <p><a href="{{ path('user_create') }}">Create user</a></p>

    <table>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_update', {'id':user.id}) }}">{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.country.name }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}